NEXT_PUBLIC_BACKEND_URL=https://api.jembersiaga.my.id
NEXT_PUBLIC_API_URL=https://api.jembersiaga.my.id/api
NEXT_PUBLIC_PREDICTION_API_URL=https://abinugroh00-prediksi-banjir.hf.space

BACKEND_API_URL=https://api.jembersiaga.my.id/api

DB_HOST=
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

GROQ_API_KEY=
GROQ_MODEL=llama-3.3-70b-versatile
